.logo img{
    max-width: 125px;
}
#busca {
    margin-top: 10px;
}
li a{
    text-align: center;
}
.menu-itens a:hover{
    background-color: rgb(179, 95, 95);
    color: white!important;
    border-radius: 5px;
}
.menu-home{
    padding-right: 20px!important;
    padding-left: 20px!important;
}
.menu-fonte .active{
    background-color: rgb(179, 95, 95)!important;
    color: white!important;
}
.active{
    border-radius: 5px;
}
.menu-fonte a{
    color: dimgray;
    text-align: center;
    
}
.menu-fonte{
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(247, 242, 242);
}

.menu-itens a{
    padding-left: 20px;
}

img {
    max-width: 100%;
}


.notes .active{
    background-color: white!important;
    color: dimgray!important;
}

h3 {
    text-align: center;
    padding: 20px;
    color: rgb(116, 7, 7);
}
.menu a {
    margin-top: 10px;
}
.box-news h4{
    color:rgb(155, 18, 18);
}
.box-news h5{
    color: rgb(214, 3, 3);
}
.box-news{
    border-top: rgb(247, 230, 230) solid 0.2px;
    padding-top: 30px;
    position: relative;
    margin-bottom: 50px;
}
.box-news img{
    display: block;
    margin-bottom: 15px;
}
.fa {
    margin-left: -55px ;
}

footer{
    text-align: center;
    padding: 30px;
}
.search{
    margin-top: 5px;
}
.active{
    background-color: rgb(179, 95, 95);
    color: white!important;
}
.menu-itens a{
    padding-left: 20px;
}

body {
    background-color:rgb(247, 242, 242);
}
.conteudo {
    background-color: white;
    border-radius: 10px;
}
.btnCollapse{
    margin-top: 30px!important;
    margin: 10px;
    margin-bottom: 30px;
}
.btnCollapse a{
    color: dimgray;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    
}
.pesquisasBtn {
    background-color:rgb(179, 95, 95);
    padding: 12px;
    color: white;
}
.pesquisasBtn:hover {
    background-color:rgb(185, 35, 35);
    color: white;
}
.btnCollapse a:hover{
    color: black;
    background-color:rgb(211, 207, 207);
}
.card {
    background-color: rgb(247, 242, 242);
    border-radius: 10px;
    border: none;
}


#apagar{
    border: solid rgb(184, 184, 184) 1px;
    color: white;
    background-color: dimgray;
    display: block;
    margin: -25px auto 0 auto;
    margin-bottom: 50px;
}


@media screen and (min-width: 996px){
    img {
        max-height: 340px !important;
    }
}